$app-background-color: white;
$app-font-family: 'Exo 2';
$app-font-size: 16px;

// MDC Variables
// https://material.io/develop/web/docs/theming/
// https://material.io/develop/web/components/theme/
// https://material.io/develop/web/components/typography/
$mdc-theme-primary: #6200ea;
$mdc-theme-secondary: #6200ea;
$mdc-theme-on-primary: black;
$mdc-theme-on-secondary: red;
$mdc-typography-font-family: $app-font-family;

@import "~@material/typography/mdc-typography";

// ag-Grid built-in Variables
// Docs https://www.ag-grid.com/javascript-grid-styling/
// Source Code https://github.com/ag-grid/ag-grid/tree/master/packages/ag-grid-community/src/styles
$font-size: $app-font-size;
$font-family: $app-font-family;
$icons-path: '~ag-grid-community/src/styles/balham-icons/';

// Selects all MDC Components
// *[class|='mdc'] {
//   font-family: 'Exo 2', sans-serif !important;
// }
