@import 'phi';
$app-background-color: white;
$app-font-family: 'Exo 2';
$app-font-size: 16px;
@import 'easings';
$app-ease: 0.314s $easeInOutSine;

// ag-Grid built-in Variables
// Docs https://www.ag-grid.com/javascript-grid-styling/
// Source Code https://github.com/ag-grid/ag-grid/tree/master/packages/ag-grid-community/src/styles
$font-size: $phi0;
$font-family: $app-font-family;
$icons-path: '~ag-grid-community/src/styles/ag-theme-balham/icons/';
$line-height: $phi3;
