@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

:root {
  --ag-grid-height: 77vh;
}

$phi: 1.61803398874989;
$phi0: pow($phi, -3);
$phi1: pow($phi, -2);
$phi2: pow($phi, -1);
$phi0: pow($phi, 0);
$phi1: pow($phi, 1);
$phi2: pow($phi, 2);
$website-background-color: white;

// MDC Variables
// https://material.io/develop/web/docs/theming/
// https://material.io/develop/web/components/theme/
// https://material.io/develop/web/components/typography/
$mdc-theme-primary: #6200ea;
$mdc-theme-secondary: #6200ea;
$mdc-theme-on-primary: black;
$mdc-theme-on-secondary: red;
$mdc-typography-font-family: 'Exo 2', sans-serif;

// Ag-Grid builtin Variables
// https://www.ag-grid.com/javascript-grid-styling/
// https://github.com/ag-grid/ag-grid/tree/master/packages/ag-grid/src/styles
$font-size: 16px;
$font-family: 'Exo 2' !important;
